html, body{
    margin:0;
    padding:0;
    background:rgb(135, 224, 193);
}
.flag{
    height: 300px;
    width:calc(300px*5/3);
    background:pink;
    margin:3em auto;
    display:grid;
}
.name{
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
}

.black{
    background: #000;
}
.red{
    background:red;
}
.orange{
    background:orange;
}