html, body{
    margin:0;
    padding:0;
    background: #000;
}

.flag{
    height:200px;
    width:calc(200px*3/2);
    background:#fff;
    margin:2em auto;
    /*display: flex;  Now we are making that flag by grid */
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 100px;
}
.name{
    color: #fff;
    font-size: 30px;
    margin-left: 47.5%;
    font-family: 'Courier New', Courier, monospace;
}
/*.stripe{
    flex-grow: 1;/*that will tell us that each one of us our stipe is take of one portion of available space of the container*/
 /*we will have three eqaul size of stipe in the main body*/


.red{
    background:red;
}
.blue{
    background: blue;
}
.white{
    background: #fff;
}